<tr>
  <td>
    <p>Thank you for registering with SpareDeck!</p>

    <p>Are you ready to get started? Use the search field to find the cards for your deck, or use the "Browse by Set" button to search for cards by set. Make sure you have all of the cards you need for your deck, and don't forget the sideboard! When you set your arrival date, try and make it one or two days before you actually need the cards to account for shipping irregularities.</p>

    <p>Thank you for using SpareDeck!<br>
    The SpareDeck Team</p>

  </td>
</tr>