<div class="row container by-set">
  <%= render partial: 'category', locals: { name: 'Expansion sets', card_sets: @expansion_sets } %>
  <%= render partial: 'category', locals: { name: 'Special sets', card_sets: @special_sets } %>
  <%= render partial: 'category', locals: { name: 'Core sets', card_sets: @core_sets } %>
</div><!-- .row -->
