<div class="row">
  <div class="col-md-12">

    <% if @order.present? && @order.user_return_confirmation.present? %>

    <div class="jumbotron hero bg-info">
      <h3>Deck return confirmation</h3>
      <p>Thanks for letting us know you're returning your deck. We will notify you when we've received it. If you have any further questions, please feel free to contact us at <a>help@sparedeck.com</a></p>
    </div>

    <% else %>

    <div class="jumbotron hero bg-info">
      <h3>Deck return confirmation</h3>
      <p>
        Sorry, we can't locate your order.
        <br>To clear things up, send an email to <a>help@sparedeck.com</a> and someone will get to the bottom of this.
      </p>
    </div>

    <% end %>

  </div>
</div>
