<div class="row">
  <div class="col-md-9">
    <h1>How does it work?</h1>

    <div class="headline">
      <h2>Placing an Order</h2>
    </div>

    <p>Renting a deck or singles is easy.</p>
    <ul>
        <li><p>First, find the cards you want to rent and place them in your cart.</p></li>
        <li><p>Select the day you want to receive the cards and for how long you would like to use them.</p></li>
        <li><p>Click "Checkout" to check for any problems with your order.</p></li>
        <li><p>If you haven't signed up for an account already, enter your email address and follow the link sent to your email.</p></li>
        <li><p>Click the link at the top of the page to answer the verification questions.</p></li>
        <li><p>Click "Authorize and Submit" to complete your order.</p></li>
        <li><p>An e-mail will be sent to you confirming that your order has been accepted.</p></li>
    </ul>

    <p>You can use your sparedeck.com account page to check on the status of your order at any time, or to cancel the order up until the time of shipping.</p>

    <div class="headline">
      <h2>Processing</h2>
    </div>

    <p>Once you submit an order, if you are a new customer we will begin our verification process.</p>

    <p>We have various fraud-prevention checks, many of which are applied at this stage; if we have questions about your order, we'll send you an e-mail - so please check your e-mail.</p>

    <p>Once the order has been accepted, the order is reserved until the shipping date (or straight to shipping if it's as same-day order).</p>

    <p>On the ship date we will pull your order from inventory and pack it into a box for shipping.</p>

    <p>We put a pre-paid return shipping label into the box along with your receipt.</p>

    <div class="headline">
      <h2>After That</h2>
    </div>

    <p>Once delivery has been attempted, your rental period begins. In some cases someone will need to be home to sign for the package.</p>

    <p>When you're done, pack it up the way it was when you got it, seal the box, stick the new shipping label right over the old one, and hand it over at the USPS counter.</p>

    <p>Once the cards get back to us, we'll send you an e-mail letting you know we received it!</p>

  </div><!-- .col-md-9 -->
</div><!-- .row -->
