<div class="row">
  <div class="col-md-9">
    <h1>Contact Us</h1>
    <p>If you have any questions please contact us at the email below. We will contact you as soon as possible.</p><br>
    <div class="row">
      <div class="col-md-4">
        <%= mail_to "help@sparedeck.com", "help@sparedeck.com", class:'btn btn-lg btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
<br>








