<div class="row">
  <div class="col-md-9">
    <h1>
      Frequently Asked Questions
    </h1><!-- General Questions -->
    <div class="headline">
      <h2>
        Rental process
      </h2>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Can I reserve a deck?</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              Of course! To reserve cards, indicate the date you want to receive the cards and the day you want to send them back on the cart page. We will confirm your reservation by email. Your credit card will not be charged until your order is ready to ship.
            </p>
            <p>
              Rentals cannot begin or end on Saturday or Sunday (no shipping is available).
            </p>
            <p>
              <b>Please plan on getting your cards a day before you absolutely must have them to allow for shipping irregularities.</b> USPS doesn't guaranteed arrival dates and we are currently using them to keep shipping costs as low as possible for customers. 
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">If I'm renting cards for the first time, is there an approval process?</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              All orders we receive are sent through an order verification process. The goal of the process is to make sure that no identity theft has taken place, and that the person placing the order is who they say they are. Another one of the goals of the process is to ensure that each potential customer is the type of person we would want to entrust our cards with.
            </p>
            <p>
              After you verify your email address you will be asked a series of questions on the website. How you answer these questions will give us information that we can then cross check so that we can establish your identity, and your trustworthiness. The information provided here will usually be sufficient to approve your order. For some customers, we may email or call and ask for some additional information.
            </p>
            <p>
              If we ask you for more information and never hear back, your order will be cancelled at the end of the day on the scheduled ship date. Occasionally, even when all additional information is provided, we are not able to approve an order without a deposit, however this is rare.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How is the rental period calculated?</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              The rental period is calculated starting on the first day the carrier attempts to deliver the package, or the first scheduled date of your rental, whichever is later.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Does anything else come with the cards?</a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              The cards will be shipped un-sleeved in plastic containers and it is up to you to provide your own sleeves when using the cards. Everything that is sent to you must be returned, minus the sleeves that you use. All cards must be returned in the same condition they were rented, but slight play wear is fine.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What if I damage the cards?</a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              Remember that damage includes creases, tears, water damage, etc. Regular play wear is fine and expected. However, if a card is damaged please let us know immediately. Our contract states if cards are damaged you are responsible for either replacing it or paying for the cards to be replaced. We'll charge you the cost of purchasing the cards from a comparable website. Please let us know as soon as possible if something happens which seriously damages the cards because it will affect future shipments to customers.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What do you consider damage?</a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              Anything such as major creasing or folding, tears, water damage, etc. Minor play wear through normal use of the cards is not considered damage. If you treat the cards like your own and return them in a similar condition you will be fine. Make sure to remove your own sleeves when returning the cards.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Can you guarantee my order will arrive on time?</a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              We guarantee that we will ship your order on time so that when we hand it to the shipping carrier, it has a scheduled arrival date on or before the date you requested it to arrive. In some cases, if you live on the west coast, we may ship your package out early to make sure it arrives in time. Past that, it is completely out of our control. Although USPS is highly accurate, they do make mistakes, and sometimes, bad weather intervenes as well.
            </p>
            <p>
              If your package is delayed, we will try and notify you if we find out, so that you can prepare contingency plans. However, the best contingency plan is to place your order so it arrives a day or two before you actually need it.
            </p>
            <p>
              If your package is delayed because of a carrier error, we can offer a refund of the shipping, as well as extend your order by the length of the delay so you can play in additional events.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Do you charge a deposit?</a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              In almost all cases we do not.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Where do you ship?</a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              We ship to the contiguous 48 states.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Can I extend my rental?</a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              We are happy to extend your rental. Please contact us if you would like to do so.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What if I am late returning the cards?</a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              A late fee equal to 15% of the rental fee minus the cost of shipping is charged for each day the cards are late, beginning with the first day overdue. As long as you send back the cards on your scheduled return date you will be fine.
            </p>
            <p class="text-danger text-bold">
              If at any time an extension is turned down and you do not contact us, we will have to turn your account over to collections.
            </p>
            <p>
              The amount sent to collections is the retail cost of the items, plus our expenses in attempting to collect from you. At this point, if you send it back you will still owe the fees of the collection agency which are several hundred dollars. We will also exhaust all civil and criminal remedies available in pursuing the matter.
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How do I make an account?</a>
          </h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              If you would like to make an account, place the cards you would like to rent in your cart and then proceed to "Checkout". You will be prompted to enter your email address and other information.
            </p>
          </div>
        </div>
      </div>
    </div><!-- .panel-group -->
  </div><!-- .col-md-9 -->
</div><!-- .row -->
