<div class="row">
  <div class="col-md-9">
    <h1>Terms of use</h1>

    <p> THIS CARD LEASE AGREEMENT ("Lease") is made and effective by clicking on the “Confirm Order” button, by and between SpareDeck, ("Lessor") and current user ("Lessee").  By clicking on the “Authorize and Submit” button, Lessee agrees to be bound by these Terms and Conditions, whether or not Lessee has read them.  Lessor may at its sole discretion modify these Terms and Conditions at any time and any modifications shall become effective immediately as posted on this site.  By clicking on the “Confirm Order” button, Lessee indicates acceptance of the modified Terms and Conditions. NOW, THEREFORE, in consideration of the mutual covenants and promises hereinafter set forth, the parties hereto agree as follows:  </p>

    <h2>1. Lease. </h2>
    <p> Lessor hereby leases to Lessee, and Lessee hereby leases from Lessor, the following described cards (the "Cards"): shown in the order.  </p>

    <h2>2. Term. </h2>
    <p> The term of this Lease shall commence on the day of the first attempt by the parcel carrier to deliver the item, and expire on the last day of the rental.  The Cards must be return shipped to SpareDeck during business hours on the last day of the rental.  In the event the last day is a Saturday, Sunday or postal holiday, a shipping extension to the next delivery working day is granted.</p>
    <p>  Until the Lease is shipped back and shows up in the carriers possession, Lessee will be held liable. If the Lease does not show up as tracked with the carrier, Lessee will be liable for the cost to replace the cards, or the late fees once the package begins to track with the carrier.</p>

    <h2>  3. Shipping.  </h2>
    <p>Lessee is responsible for the payment for the shipping of the Cards to Lessee’s premises and back to SpareDeck. Lessor does not ship on federal holidays.  Lessor will send Lessee an email at the email address Lessee has provided when Cards are shipped.  Lessor will send Lessee an email at the email address Lessee has provided when Cards rented by Lessee are returned.</p>
    <p>  Lessor cannot guarantee when an order will arrive.  Consider any shipping or transit time offered by SpareDeck or other parties only as an estimate. Lessee is encouraged to order in a timely fashion to avoid delays caused by shipping or product availability. </p>
    <p>  Both the outbound (from Lessor to Lessee’s premises) and inbound (from Lessee back to Lessor) shipping charges for the order will be paid in advance and in full. Use of shipping or delivery methods other than those arranged for or specified by the Lessor constitutes a violation of these terms. Said violation may result in the application of penalties/late fees as applicable.</p>
    <p>  The Lessee is responsible for bringing the package to an authorized shipping location and having the package scanned. Furthermore the Lessee agrees to obtain a receipt for the transaction which shall be retained until Lessor notifies the Lessee that their rental is complete.</p>

    <h2> 4. Rent. </h2>
    <p> The rent for the Cards shall be paid in advance in full.</p>

    <h2>  5. Cancellations. </h2>
    <p> Cancellations are made by contacting us via e-mail and are subject to the following terms:</p>
    <p> Cancellation of pending reservation: 24 hour notice must be given before ship-out or pick-up. Failure to do so will result in a 1 day rental (prorated off the 3 day rate) for all items charged to your card. Lessee can cancel within 24 hours of placing order with no fees, as long as order has not shipped. </p>
    <p>Canceling a shipped order will result in extra fees.  Cancellation after order has shipped: Order can be cancelled as long as it has not been delivered. All cancellations are subject to full refund minus: 1 day rental rate + round trip shipping.</p>

    <h2>  6. Use. </h2>
    <p> Lessee shall use the Cards in a careful and proper manner and shall comply with and conform to all national, state, municipal, police and other laws, ordinances and regulations in any way relating to the possession, use, or maintenance of the Cards. Lessor is in no way responsible for Lessee's use of the Cards and shall be indemnified by Lessee for any legal action resulting from Lessee's use of the Cards, as explained in Sections 16 and 17 below.</p>

    <h2>  7. Right to Lease.  </h2>
    <p>Lessor warrants that Lessor has the right to lease the Cards, as provided in this Lease. </p>

     <h2>8. Order Acceptance Policy. </h2>
    <p>  Your receipt of an electronic or other form of order confirmation does not signify Lessor’s acceptance of Lessee’s order, nor does it constitute confirmation of Lessor’s offer to rent.  SpareDeck reserves the right at any time after receipt of Lessee’s order to accept or decline Lessee’s order or to supply less than the quantity Lessee ordered of any item for any reason.</p>

    <h2>  9. Ownership.  </h2>
    <p> The Cards are, and shall at all times be and remain, the sole and exclusive property of Lessor; and the Lessee shall have no right, title or interest therein or thereto except as expressly set forth in this Lease.</p>

    <h2>  10. Repairs. </h2>
    <p>  Lessor shall keep the Cards in good condition and shall return the deck box, if one has been included with the order. Lessee shall not in any way materially alter the physical or otherwise makeup of the Cards.</p>

    <h2>  11. Lost, Damaged, or Unreturned Cards. </h2>
    <p> Lessee hereby assumes and shall bear the entire risk of loss and damage to the Cards from any and every cause. No loss or damage to the Cards or any part thereof shall impair any obligation of Lessee under this Lease which shall continue in full force and effect through the term of the Lease.</p>
    <p>  In the event of damage of any kind to the Cards, Lessee agrees to allow Lessor to charge Lessee’s credit card for the full cost of repair of said damaged Cards. Lessor expressly reserves the right to choose the acquisition method and venue, within reasonable market value terms.</p>
    <p> In the event of Cards becoming damaged beyond continued use, Lessees shall pay for a full replacement and shall not be entitled to ownership of the damaged Cards.  In the event of default, or a lost or unreturned item, Lessor reserves the right to pursue civil and criminal remedies against Lessee, including, but not limited to, taking immediate possession of the Cards; obtaining, by Lessee’s credit card or otherwise, from Lessee the cost of the full retail price of a comparable substitute of Cards and late fees assessed prior to deeming the Lessee in default or the Cards lost or unreturned; notifying a collections agency, which immediately results in additional attorneys’ and collection fees being charged to Lessor; filing of criminal charges; employing “skip tracer,” private investigator, or repossession agency to collect the Cards or goods sufficient to repay the value of the Cards; and/or pursue any and all legal remedies against Lessee. Lessee will also forefeit all rights enumerated in the Privacy Policy of Lessor. These remedies are not exclusive. In the event of litigation to recover any such damages, Lessee is held responsible for all legal fees and costs incurred by Lessor.</p>
    <p>Lessor is deemed to be in “default” if for any reason payment to Lessee is not delivered, is disputed, or is otherwise interrupted.</p>
    <p>Cards are deemed to be “lost” or “unreturned” when Lessee has failed to ship rented Cards to Lessor within seven (7) days of expiration of Term. If Lessee returns Cards, in undamaged state, to Lessor within thirty (30) days of expiration of Term, the charge to Lessee’s credit card for the price of a comparable substitute will be refunded to Lessee by Lessor and a late fee will be charged to Lessee’s credit card.  Late returns are subject to a fee of $10.00 for each day the Cards are late. Returning an item late without notifying us first may cause Loss of Use fees to be applied in addition to the late fees. The amount of the Loss of Use fees will be calculated on a case-by-case basis. After thirty (30) days, all sales are final.</p>

    <h2>12. Out-of-Stock Products and Multiple Product Orders.  </h2>
    <p> Lessor will ship product as it becomes available.  There may be times when the product Lessee ordered is out-of-stock which will delay fulfilling Lessee’s order.  Lessor makes no guarantees as to availability of Cards.  Any estimate of availability provided by Lessor is based on the assumption that each SpareDeck customer returns Cards within the prescribed term period.  Lessor will keep Lessee informed of any products that Lessee has ordered that are out-of-stock and unavailable for immediate shipment.  If Cards are out-of-stock or unavailable, Lessee may cancel the order at any time prior to shipping.    </p>

    <h2>13. Surrender.  </h2>
    <p> Upon the expiration or earlier termination of this Lease, Lessee shall return the Cards to Lessor in good condition, ordinary wear resulting from proper use thereof alone excepted, by delivering the Cards at Lessee's cost and expense via the shipping method of Lessor's choice.  Ordinary wear is to be determined at the discretion of the Lessor within the confines of the reasonably common and ordinary meanings of those terms.  Lessee will be responsible for proper packaging of the return shipment using shipping and packaging materials as provided by Lessor in the order shipment. </p>
    <p>Lessor’s acceptance of the Cards upon return by Lessee shall not represent Lessor’s determination as to condition of Cards upon return.  Lessor reserves the right to accept Cards upon return by Lessee and make determinations regarding the condition of the Cards within a reasonable amount of time.  Lessor’s determination as to the condition of the Cards upon return by Lessee is binding under this Section and Section 11 (“Lost, Damaged, or Unreturned Cards.”). </p>

    <h2>15. Taxes. </h2>
    <p> Lessee shall keep the Cards free and clear of all levies, liens and encumbrances. Lessee, or Lessor at Lessee's expense, shall report, pay and discharge when due all license and registration fees, assessments, sales, use and property taxes, gross receipts, taxes arising out of receipts from use of the Cards, and other taxes, fees and governmental charges similar or dissimilar to the foregoing, together with any penalties or interest thereon, imposed by any state, federal or local government or any agency, or department thereof, upon the Cards or the purchase, use or leasing of the Cards or otherwise in any manner with respect thereto and whether or not the same shall be assessed against or in the name of Lessor or Lessee. However, Lessee shall not be required to pay or discharge any such tax or assessment so long as it shall, in good faith and by appropriate legal proceedings, contest the validity thereof in any reasonable manner which will not affect or endanger the title and interest of Lessor to the Cards; provided, Lessee shall reimburse Lessor for any damages or expenses resulting from such failure to pay or discharge.</p>

    <h2>  16. Limitation of Liability. </h2>
    <p>  THE CONTENTS OF THE SPAREDECK WEBSITE, AND THE CARDS LESSOR DELIVERS ARE PROVIDED "AS IS."  LESSOR MAKES NO REPRESENTATIONS OR WARRANTIES, WHETHER EXPRESS OR IMPLIED, OF ANY KIND ABOUT CARD'S ACCURACY OR FUNCTIONALITY.  LESSOR ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF THE SPAREDECK WEBSITE, FOR ANY FAILURES, DELAYS, OR INTERRUPTIONS IN THE DELIVERY OF ANY CONTENT CONTAINED ON THE SPAREDECK WEBSITE, FOR ANY LOSSES OR DAMAGES ARISING FROM THE USE OF THE CONTENT PROVIDED ON THE SPAREDECK WEBSITE, OR FOR ANY CONDUCT BY USERS OF THE SPAREDECK WEBSITE.  TO THE FULL EXTENT PERMISSIBLE BY LAW, LESSOR DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES ABOUT THE CARDS LESSOR DELIVERS, INCLUDING, FOR EXAMPLE, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.  IN ADDITION, LESSOR DOES NOT REPRESENT OR WARRANT THAT THE INFORMATION ACCESSIBLE VIA THE SPAREDECK WEBSITE IS ACCURATE, COMPLETE, OR CURRENT.  PRICE AND AVAILABILITY INFORMATION IS SUBJECT TO CHANGE WITHOUT NOTICE. IN NO EVENT SHALL SPAREDECK BE LIABLE TO LESSEE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES RESULTING FROM LOSS OF USE, DATA, OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF DAMAGE, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF ANY CARDS OR THE INFORMATION ON LESSOR’S WEBSITE.  WHILE LESSOR WILL MAKE A REASONABLE EFFORT TO RETURN ANY NON-LESSOR PROPERTY IT RECEIVES, LESSOR WILL NOT BE LIABLE FOR ANY LOSSES OF OR DAMAGE TO SUCH PROPERTY. </p>

    <h2>17. Indemnity.  </h2>
    <p> Lessee shall indemnify and save harmless Lessor against all loss, damage, expense and penalty, including reasonable attorneys fees, arising from, related to, or connected with any action on account of any injury to person or property of any character occasioned by the use, handling or transportation of the leased Cards during the Term or while the Cards are in the possession or control of Lessee.</p>

    <h2>18.  Waiver.  </h2>
    <p> The failure of either party to enforce any provisions of this Agreement shall not be deemed a waiver or limitation of that party’s right to subsequently enforce and compel strict compliance with every provision of this Agreement.  The acceptance of rent by Lessor does not waive Lessor’s right to enforce any provisions of this Agreement.</p>

      <h2>19. Default. </h2>
    <p> If Lessee fails to observe, keep or perform any other provision of this Lease required to be observed, kept or performed by Lessee, Lessor shall have the right to exercise any one or more of the following remedies: 
      <ul><li>A.  To declare the entire amount of rent hereunder immediately due and payable without notice or demand to Lessee.</li>
        <li> B.  To immediately take possession of Cards without notice or demand to Lessee.</li>
        <li> C.  To sue for and recover all rents, and other payments, including lost rental income, then accrued or thereafter accruing.</li>
        <li> D.  To terminate this Lease.</li>
        <li> E.  To pursue any other remedy at law or in equity. Notwithstanding any repossession or any other action which Lessor may take, Lessee shall be and remain liable for full performance of all obligations to be performed under this Lease. </li>
      </ul>
    </p>
      <p>All of Lessor's remedies are cumulative, and may be exercised concurrently or separately.</p>

    <h2>20. Bankruptcy. </h2>
    <p> Neither this Lease nor any interest therein is assignable or transferable by operation of law. If any proceeding under the Bankruptcy Act, as amended, is commenced by or against the Lessee, or if the Lessee is adjudged insolvent, or if Lessee makes any assignment for the benefit of his creditors, or if a writ of attachment or execution is levied on the Cards and is not released or satisfied within ten (10) days thereafter, or if a receiver is appointed in any proceeding or action to which the Lessee is a party with authority to take possession or control of the Cards, Lessor shall have and may exercise any one or more of the remedies set forth in Section 12 (“Surrender.”) above; and this Lease shall, at the option of the Lessor, without notice, immediately terminate and shall not be treated as an asset of Lessee after the exercise of said option.  </p>

    <h2>21. Additional Documents.  </h2>
    <p>If Lessor shall so request, Lessee shall execute and deliver to Lessor such documents as Lessor shall deem necessary or desirable for purposes of recording or filing to protect the interest of Lessor in the Cards including, but not limited to a UCC financing statement.</p>

    <h2>22.  Claims of Copyright Infringement</h2>
    <p> It is the policy of SpareDeck to respect the intellectual property rights of others.  SpareDeck does not promote, foster, or condone the copying of photographs or any other infringing activity.</p>

    <h2>  23. Typographical Errors. </h2>
    <p>In the event a product is listed at an incorrect price due to typographical error or error in pricing information, Lessor shall have the right to refuse or cancel any orders placed for product listed at the incorrect price.  Lessor shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and Lessee’s credit card charged.  If Lessee’s credit card has already been charged for the purchase and Lessee’s order is canceled, Lessor shall immediately issue a credit to Lessee’s credit card account in the amount of the incorrect price.</p>

    <h2>24. Entire Agreement.</h2>
    <p> This instrument constitutes the ENTIRE AGREEMENT between the parties on the subject matter hereof and it shall not be amended, altered or changed except by a further writing signed by the parties hereto.  If any portion of the agreement is found unenforceable, it will not affect the remainder of the agreement, which shall remain valid and enforceable.</p>

      <h2>25. Assignment. </h2>
    <p>Lessee shall not assign this Lease or its interest in the Cards without the prior written consent of Lessor.</p>

      <h2>26. Headings.</h2>
    <p> Headings used in this Lease are provided for convenience only and shall not be used to construe meaning or intent. </p>

  </div><!-- .col-md-9 -->
</div><!-- .row -->
