<tr>
  <td>
    <p class="dear-p">
      Dear <%= @order.user.first_name %>,
    </p>
    <p>
      The cards you sent back to SpareDeck for order#<%= @order.order_no %> have been received. Thank you for using our service!
    </p>

    <p>
      <b>We look forward to providing the cards you want, when you need them again in the future!</b>
    </p>

    <p>
      Sincerely,<br>
      <b>SpareDeck</b>
    </p>
  <td>
<tr>
