<div class="row">
  <div class="col-md-12">

    <div class="panel">
      <div class="panel-heading">
        <h1>Site users</h1>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Joined</th>
            <th>Name</th>
            <th>Email</th>
            <th>Verification</th>
            <th>Quiz</th>
            <th>Admin</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>

  </div>
</div>