<tr>
  <td>
    <p>Please follow the link below to complete your registration and continue with your rental.</p>

    <p class="mail-link-container"><%= link_to 'Register your account', @signup_url, class:'mail-link', target:'_blank' %></p>
  </td>
</tr>
