<div class="fb-like" data-href="https://www.facebook.com/sparedeck" data-width="150" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>

<a class="twitter-nav twitter-follow-button" href="https://twitter.com/sparedeck" data-show-count="false" data-lang="en" data-width="125px" data-align="right">
Follow @sparedeck
</a>
